.wrapper {
	width: 1600px;
	height: 100vh;
	margin: 0 auto;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
}
.wrapper h1 {
	position: absolute;
	top: -9999px;
}

/* 
	Header + section 1 inside - Your life
*/

.header {
	height: 744px;
	display: flex;
	flex-basis: content;
	flex-direction: column;
	justify-content: flex-start; 
	align-items: center;

	background: url(./assets/images/header-bg-image.svg) no-repeat center top; 
	color: #ffffff;
}

.nav-main, .socials {
	display: flex;
	flex-basis: content;
	flex-direction: row;
	justify-content: center; 
	align-items: center;
}

.nav-main {	margin-right: 12px; }

.nav-main-item { 
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	opacity: 0.8;
	color: #ffffff;
	
	margin: 22px 42px 0px 42px; 
}

.nav-main-item:hover { 
	opacity: 1; 
	/* border-bottom: 1px solid #ffffff; */
}
.nav-main-item:focus { 
	opacity: 1; 
	border-bottom: 1px solid #ffffff;
}


.nav-main-logo { margin: 25px 60px 0px 60px; }
.socials {	margin: 183px auto 85px auto; }
.social-item { margin: 0px 15px 0px 15px; }

.social-item:hover {
	transform: scale(1.2);	
}

.section-1 {
	display: flex;
	flex-basis: content;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	margin-top: 129px;
}

.section-1-header {
	font-size: 64px;
	font-weight: bold;
	line-height: 0px;
	letter-spacing: 4.5px;
	text-transform: uppercase;

	margin-left: 5px;
}

.section-1-text {
	max-width: 500px ;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.4;

	margin: -5px 50px 30px 50px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center; 
	margin: 0px 0px 0px -1px;

	width: 184px;
	height: 46px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;

	background: #00AFDB;
	color: #ffffff;
}
.button:hover {	
	background: #009CC2; 
	cursor: pointer;
}

/* 
	Section 2 - Rappresent
*/

.section-2 {
	height: 842px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start; 
	align-items: flex-start;
}

.section-2-content { margin: 270px 250px 314px 268px; }

.section-2-header {
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #373737;

	margin: 24px 20px 20px 0px;
	/* margin-bottom: 20px; */
}
.section-2-text {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.45;
	color:#4E4E4E;

	margin-bottom: 30px;
}

.text-bold { font-weight: bold; }

.section-2-image{	margin: 120px 270px 140px 0px; }

/*
	Section 3 - Our community 
*/

.section-3 {
	height: 504px;
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	align-items: flex-start;

	background: #F5F6F7;
}

.section-3-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start; 
	align-items: center;

	margin: 154px 51px 174px 193px;
}

.section-3-header {
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	color: #373737;

	margin: 16px 0px 0px 1px;
}

.section-3-text {
	font-size: 14px;
	font-weight: normal;
	line-height: 142%;
	color:#373737;

	text-align: center;
	margin: 12px 75px 0px 73px;
}

.section-3-image-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start; 
	align-items: center;

	margin-top: 61px;
}

.list-controls {
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;

	list-style-type: none;
	margin: 17px 0px 0px 247px;
}

.list-ctrl-item {
	font-size: 18px;
	font-weight: normal;

	margin: 0px 2px 0px 2px;
}

.scroll-arrow {	margin: 2px 12px 0px 12px; } 

.scroll-arrow:hover {
	cursor: pointer;
	transform: scale(1.5);
} 

.list-images {
	display: flex;
	flex-direction: row;
	justify-content: flex-start; 
	align-items: center;
	max-width: 894px;
	overflow: hidden;

	margin: 18px 0px 0px 10px;
}

.list-img { margin-right: 30px; }


/* 
	Section 4 - Implement
*/

.section-4 {
	height: 842px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start; 
	align-items: flex-start;
}

.section-4-image{	margin: 120px 0px 0px 269px; }

.section-4-content { margin: 294px 370px 0px 139px; }

.section-4-header {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	color:#373737;

	margin-bottom: 20px;
}

.section-4-text {
	font-size: 14px;
	font-weight: normal;
	line-height: 144%;
	color:#4E4E4E;

	margin-bottom: 31px;
}

/* 
	Section 5 - Sign up
*/

.section-5 {
	height: 598px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; 
	align-items: flex-start;

	background: url(./assets/images/s5-bg-image.svg) no-repeat center top;
}

.section-5-header {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #ffffff;

	margin: 216px 0px 0px 610px;
}

.email-field {
	display: flex;
	flex-direction: row;
	justify-content: flex-start; 
	align-items: center;

	margin: 31px 0px 0px 598px;
}

.email-input {
	width: 340px;
	height: 46px;
	box-sizing: border-box;

	font-size: 14px;
	font-weight: normal;
	line-height: 140%;
	text-indent: 21px;
	color: #373737;
}

.email-button {
	width: 66px;
	height: 46px;

	display: flex;
	align-items: center;
	justify-content: center;
	
	background: #00AFDB;
	color: #ffffff;
}

.email-button:hover {	
	background: #009CC2; 
	cursor: pointer;
}

/* 
	Section 6 - Download
*/

.section-6 {
	height: 468px;
	background: #F5F6F7;
}

.section-6-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start; 
	align-items: flex-start;
}

.section-6-header {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #373737;

	margin: 119px 0px 0px 675px;
}

.section-6-text {
	font-size: 14px;
	font-weight: normal;
	line-height: 142%;
	text-align: center;
	color: #4E4E4E;

	margin: 21px 554px 0px 554px;
}

.section-6-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: flex-start;
}

.store-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-start; 
	align-items: flex-start;

	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	background: #00AFDB;

	margin: 31px 15px 0px 15px;
}

.store-button:hover {	
	background: #009CC2; 
	cursor: pointer;
}

.button-text {
	display: flex;
	justify-content: center; 
	align-items: center;

	width: 128px;
	height: 50px;

	margin-top: 1px;
}

.button-icon {
	display: flex;
	justify-content: center; 
	align-items: center;

	width: 60px;
	height: 50px;
	background: #009CC2;;
}

/*
	Footer
*/

.footer {
	display: flex;
	justify-content: flex-start; 
	align-items: flex-start;

	height: 184px;
	background: #000000;
}

.nav-footer {
	display: flex;
	flex-basis: content;
	flex-direction: row;
	justify-content: flex-start; 
	align-items: center;

	margin-left: 160px;
}

.nav-footer-item { 
	font-size: 14px;
	font-weight: normal;
	opacity: 0.8;
	color: #ffffff;
	
	margin: 57px 20px 0px 0px;  
}

.nav-footer-item:hover { 
	opacity: 1; 
	border-bottom: 1px solid #ffffff;
}

.nav-footer-logo { margin: 60px 160px 0px 362px; }

.footer-copyright {
	font-size: 14px;
	font-weight: normal;
	color: #818181;

	margin: 58px 0px 0px 288px;
}