body {
  margin: 0;
	height: 100vh;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
}

.wrapper {
	margin: 0 auto;
	width: 1600px;
}
.wrapper h1 {
	position: absolute;
	top: -9999px;
}

.text-header-1 {
	font-size: 64px;
	font-weight: bold;
	line-height: 0;
	letter-spacing: 4.5px;
	text-transform: uppercase;

	margin-left: 5px;
}

.wrapper h3 {
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.wrapper h4 {
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	color: #373737;
}


.header {
	height: 744px;
	display: flex;
	flex-basis: content;
	flex-direction: column;
	justify-content: flex-start; 
	align-items: center;

	background: url(../images/header-bg-image.svg) no-repeat center top /cover; 
	color: #ffffff;
}

.header a {
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	opacity: 0.8;
	color: #ffffff;
}
.header a:hover {
	opacity: 1;
}

.nav-main, .nav-social {
	display: flex;
	flex-basis: content;
	flex-direction: row;
	justify-content: center; 
	align-items: center;
}

.nav-main {	margin-right: 12px; }
.nav-main-item { margin: 22px 42px 0px 42px; }
.nav-main-logo { margin: 25px 60px 0px 60px; }

.nav-social {	margin: 183px auto 85px auto; }
.nav-social-item { margin: 0px 15px 0px 15px; }

.section-1 {
	display: flex;
	/* flex-basis: content; */
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	margin-top: 129px;
}
.section-1-text {
	max-width: 500px ;
	text-align: center;

	/* line-height: 1.3; */
	font-size: 18px;
	font-weight: normal;
	margin: 0px 50px 30px 50px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center; 
	margin-top: 2px;

	width: 184px;
	height: 46px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;

	background: #00AFDB;
	color: #ffffff;
}
.button:hover {	
	background: #009CC2; 
	cursor: pointer;
}

.section-2 {
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;
}
.section-2-content, section-2-image {
	border: 1px solid yellow;
}
.section-2-content {
	margin: 295px 248px 314px 268px;
}
.section-2-image{
	margin: 120px 270px 140px 0px;
}

.section-3 {
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	align-items: center;
}
.section-3-content {
	margin: 155px 51px 174px 269px;
}

.list-controls {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;
}
.list-ctrl-item {
	font-weight: normal;
	font-size: 18px;
	margin: 0px 5px 0px 5px;
}

.scroll-arrow {
	margin-top: 2px;
} 

.scroll-arrow:hover {
	cursor: pointer;
	transform: scale(1.5);
} 

.section-3-image-list {
	border: 1px solid green;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;

	/* margin: 80px 0px 140px 0px; */
}
.list-images {
	border: 1px solid green;
	display: flex;
	flex-direction: row;
	justify-content: flex-start; 
	align-items: center;
	max-width: 894px;

	overflow: hidden;
}
.list-img { 
	margin-right: 20px;
}
